<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentDao" class="ru.strukov.xmlconfig.dao.StudentDaoImpl"/>
    <bean id="studentService" class="ru.strukov.xmlconfig.service.StudentServiceImpl">
        <constructor-arg name="studentDao" ref="studentDao"/>
        <constructor-arg name="consoleService" ref="consoleService" />
    </bean>
    <bean id="TestQuestionDao" class="ru.strukov.xmlconfig.dao.TestQuestionDaoImpl">
        <constructor-arg name="consoleService" ref="consoleService"/>
    </bean>
    <bean id="testQuestionService" class="ru.strukov.xmlconfig.service.TestQuestionServiceImpl">
        <constructor-arg name="resource" value="/qna.csv"/>
        <constructor-arg name="testQuestionDao" ref="TestQuestionDao" />
        <constructor-arg name="studentService" ref="studentService" />
        <constructor-arg name="consoleService" ref="consoleService" />
    </bean>
    <bean id="consoleService" class="ru.strukov.xmlconfig.service.ConsoleServiceImpl">
    </bean>
</beans>